/* Noto Sans */
@font-face {
    font-family: 'Noto Sans Regular';
    font-weight: var(--font-weight-regular);
    src: url("../assets/fonts/notosans/notosans-400.woff2") format("woff2");
}


@font-face {
    font-family: 'Noto Sans Semibold';
    font-weight: var(--font-family-semibold);
    src: url("../assets/fonts/notosans/notosans-600.woff2") format("woff2");
}


@font-face {
    font-family: 'Noto Sans Bold';
    font-weight: var(--font-weight-bold);
    src: url("../assets/fonts/notosans/notosans-700.woff2") format("woff2");
}

/* Anek */
@font-face {
    font-family: 'Anek';
    src: url("../assets/fonts/anek/anek-650.woff2") format("woff2");
}


@layer styleguide {

    html,
    body {
        scroll-behavior: smooth;
    }

    body {
        max-width: 40em;
        margin: auto;
        background: #fff;

        /* kleuren */

        --colors-primary: #e8712c;
        --text-primary: black;
        --text-secondary: white;

        /* font */

        --main-font: "Anek";
        --secondary-font: "Noto Sans"

    }
}