/* Noto Sans */
@font-face {
    font-family: 'Noto Sans Regular';
    font-weight: var(--font-weight-regular);
    src: url("../assests/fonts/noto-sans/notosans-400.woff2") format("woff2");
    }
    
    
    @font-face {
    font-family: 'Noto Sans Semibold';
    font-weight: var(--font-family-semibold);
    src: url("../assests/fonts/noto-sans/notosans-600.woff2") format("woff2");
    }
    
    
    @font-face {
    font-family: 'Noto Sans Bold';
    font-weight: var(--font-weight-bold);
    src: url("../assests/fonts/noto-sans/notosans-700.woff2") format("woff2");
    }
    
    /* Anek */
    @font-face {
        font-family: 'Anek';
        src: url("../assests/fonts/anek/anek-650.woff2") format("woff2");
    }

body{
    margin: 0;
    background-color: rgba(232, 113, 44, 0.2);
    font-family: "Noto Sans";

    h1{
        font-size: 48px;
        padding-left: 10px;
    }

    h2{
        font-size: 36px;
        padding-left: 10px;
    }

    h3{
        font-size: 24px;
        padding-left: 10px;
        margin-bottom: -0.3em;
    }

    p{
        font-size: 16px;
        padding-left: 10px;
    }

    a{
        padding-left: 10px;
    }
}

.video-container {
    display: grid;
    width: 100%;
    height: 90vh;
    padding-bottom: 1em;

    h1, video {
        grid-area: 1 / 1;
    }

    video{
        width: 100%;
        height: 100%; /* Zorg ervoor dat de video de volledige container vult */
        object-fit: cover; /* Zorg ervoor dat de video goed schaalt zonder vervorming */
        z-index: -1;
    }

    h1{
        color: white; 
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        padding-top: 50%;
    }
}

form {
    display: grid;
    place-items: center;
    padding-bottom: .5em;
  
    svg{
        color:#e8712c;
        width: 2em;
        height: 2em;
    }
  
    label, div {
        grid-area: 1 / 1
    }
  
    label {
        z-index: 1;
        transition: .3s ease-out;
    }
  
    button, label {
        display: inline grid;
        place-items: center;
        border: 2px solid #E8712C;
        border-radius: 100%;
        height: 3em;
        width: 3em;
        background-color: transparent;
    }
  }

  
  input{
    border: 2px solid #E8712C;
    border-radius: 20px;
    width: 20em;
    background-color: transparent;
  }
  
  div {
    display: flex;
    transform: scale(0);
    transition: .5s ease-out;
  }
  
  form.active div {
    transform: scale(1);
  }
  
  form.active label {
    translate: 100%;
    opacity: 0;
    visibility: hidden;
  }
  
  .search-bar{
    display: none;
  }

/* .search-bar{
    display: flex;
    flex-direction: column;
}

#search-input{
    width: 90vw; 
    height: 1.5em;
    text-align: center;
    font-size: 16px;
    border: 2px solid #e8712c;
    border-radius: 20px;
    background-color: transparent;
    margin-bottom: 10px;
}  */


.jobs {
    display: flex;  
    flex-direction: column;
}

.hide {
    display: none;
}

.filter {
    position: sticky;
    top: 0;
    background: #e8712c;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (min-width: 1024px) {
        display: flex; 
        gap: 10px; /* Ruimte tussen de dropdowns */
        flex-wrap: wrap; /* Zorgt ervoor dat de filters op een nieuwe regel komen als er niet genoeg ruimte is */
    }
}

details {
    margin-bottom: 0; /* Verwijder extra marges tussen de filters */
    flex: 1; /* Laat de filters gelijke breedte innemen */
    min-width: 150px; /* Zorgt ervoor dat ze niet te smal worden */
}

summary {
    font-weight: bold;
    cursor: pointer;
}

nav a {
    display: block;
    margin: 5px 0;
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.filter nav {
    margin-top: 5px;
}

.vacatureblok{
    display: block;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    padding-top: 5px;
    margin: 15px 0;

    a{
        color: #e8712c;
        font-size: 20px;
        font-weight: 600;
    }
}

.container{
        width: 100%;
        height: 100%;
    }


.imagecollage{
    padding-top: 20px;

    img{
        width: 60%;
        box-sizing: border-box;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        img { width: 100%; height: auto; }
    }

    img:first-child{
        float: left;
        margin-right: 10px;
    }

    img:nth-child(2){
        float: right;
        margin-left: 10px;
    }

    img:nth-child(3){
        float: left;
        margin-right: 10px;
    }

    img:nth-child(4){
        float: right;
        margin-left: 10px;
    }

    img:nth-child(5){
        float: left;
        margin-right: 10px;
    }

    img:nth-child(6){
        float: right;
        margin-left: 10px;
    }

    img:nth-child(7){
        float: left;
        margin-right: 10px;
    }

    img:last-child{
        visibility: hidden;
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.quote{
    img{
        width: 50%;
        border-radius: 100%;
        padding-left: 25%;
    }

    .alt{
        font-size: 14px;
        text-align: center;
    }
}



