/* Noto Sans */
@font-face {
    font-family: 'Noto Sans Regular';
    font-weight: var(--font-weight-regular);
    src: url("../assests/fonts/noto-sans/notosans-400.woff2") format("woff2");
    }
    
    
    @font-face {
    font-family: 'Noto Sans Semibold';
    font-weight: var(--font-family-semibold);
    src: url("../assests/fonts/noto-sans/notosans-600.woff2") format("woff2");
    }
    
    
    @font-face {
    font-family: 'Noto Sans Bold';
    font-weight: var(--font-weight-bold);
    src: url("../assests/fonts/noto-sans/notosans-700.woff2") format("woff2");
    }
    
    /* Anek */
    @font-face {
        font-family: 'Anek';
        src: url("../assests/fonts/anek/anek-650.woff2") format("woff2");
    }

body{
    margin: 0;
    background-color: rgba(232, 113, 44, 0.2);
    font-family: "Noto Sans";

    h1, h2, h3, p, a{
        padding-left: 10px;
    }

    h1{
        font-size: 48px;
    }

    h2{
        font-size: 36px;
    }

    h3{
        font-size: 24px;
        margin-bottom: -0.3em;
    
    }

    p{
        font-size: 16px;
    }
}

.video-container {
    position: relative; /* Zorg ervoor dat de titel binnen deze container wordt gepositioneerd */
    width: 100%;
    height: 90vh; /* Zorg ervoor dat de container de volledige viewporthoogte inneemt */
}

video {
    width: 100%;
    height: 100%; /* Zorg ervoor dat de video de volledige container vult */
    object-fit: cover; /* Zorg ervoor dat de video goed schaalt zonder vervorming */
    z-index: -1;
}

.title {
    position: absolute; /* Maak de titel absoluut gepositioneerd */
    top: 50%; /* Zet de titel in het midden van de video */
    left: 50%; /* Zet de titel in het midden van de video */
    transform: translate(-50%, -50%); /* Centreer de titel precies */
    color: white; 
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.jobs {
    display: flex;
    flex-direction: column;
}

.filter {
    position: sticky;
    top: 0;
    background: #e8712c;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (min-width: 1024px) {
        display: flex; 
        gap: 10px; /* Ruimte tussen de dropdowns */
        flex-wrap: wrap; /* Zorgt ervoor dat de filters op een nieuwe regel komen als er niet genoeg ruimte is */
    }
}

details {
    margin-bottom: 0; /* Verwijder extra marges tussen de filters */
    flex: 1; /* Laat de filters gelijke breedte innemen */
    min-width: 150px; /* Zorgt ervoor dat ze niet te smal worden */
}

summary {
    font-weight: bold;
    cursor: pointer;
}

nav a {
    display: block;
    margin: 5px 0;
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.filter nav {
    margin-top: 5px;
}

.quote{
    img{
        width: 50%;
    }

    .alt{
        font-size: 14px;
    }
}

.vacatureblok{
    display: block;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    padding-top: 5px;
    margin: 15px 0;

    a{
        color: #e8712c;
        font-size: 20px;
        font-weight: 600;
    }
}

.imagecollage{
    img{
        width: 100%;
    }
}


